/* styles.css */
:root {
  --background-color: #f8f8f8;
  --header-bg-color: #ffffff;
  --header-button-bg-color: #28a745;
  --header-button-text-color: #ffffff;
  --main-bg-color: #f0f0f0;
  --section-bg-color: #ffffff;
  --section-text-color: #000000;
}

body.light-mode {
  --background-color: #f8f8f8;
  --header-bg-color: #ffffff;
  --header-button-bg-color: #28a745;
  --header-button-text-color: #ffffff;
  --main-bg-color: #f0f0f0;
  --section-bg-color: #ffffff;
  --section-text-color: #000000;
}

body.dark-mode {
  --background-color: #333333;
  --header-bg-color: #444444;
  --header-button-bg-color: #555555;
  --header-button-text-color: #ffffff;
  --main-bg-color: #666666;
  --section-bg-color: #444444;
  --section-text-color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
}

header {
  background-color: var(--header-bg-color);
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

header button {
  padding: 10px 20px;
  border: none;
  background-color: var(--header-button-bg-color);
  color: var(--header-button-text-color);
  border-radius: 4px;
  cursor: pointer;
}

main {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
  background-color: var(--main-bg-color);
}

section {
  flex: 1;
  background-color: var(--section-bg-color);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: var(--section-text-color);
}

section h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

ul li:last-child {
  border-bottom: none;
}

ul li button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul li button:hover {
  background-color: #ddd;
}
